@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("/Geist-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/Geist-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/GeistMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@theme {
  --color-background: var(--color-gray-50);
  --color-foreground: var(--color-gray-950);
  --font-sans: "Geist", Arial, Helvetica, sans-serif;
  --font-mono: "Geist Mono", Arial, Helvetica, sans-serif;
  --color-gray-50: oklch(99.2% 0.002 165.1);
  --color-gray-100: oklch(98% 0.002 165.1);
  --color-gray-200: oklch(95.6% 0.003 174.5);
  --color-gray-300: oklch(93.1% 0.003 174.5);
  --color-gray-400: oklch(91% 0.004 157.2);
  --color-gray-500: oklch(88.6% 0.004 174.5);
  --color-gray-600: oklch(85.1% 0.005 165);
  --color-gray-700: oklch(79.1% 0.005 165);
  --color-gray-800: oklch(63.9% 0.01 171.6);
  --color-gray-900: oklch(60.6% 0.01 171.6);
  --color-gray-925: oklch(50.1% 0.008 174.1);
  --color-gray-950: oklch(24% 0.012 167.6);
  --color-green-strong: oklch(49.6% 0.042 187.2);
  --color-green-subtle: oklch(92.4% 0.013 185.1);
  --color-yellow-strong: oklch(86.1% 0.073 102.7);
  --color-yellow-subtle: oklch(96.8% 0.017 99.6);
  --color-purple-strong: oklch(60.5% 0.055 316.4);
  --color-purple-subtle: oklch(93.6% 0.009 314.8);
  --color-orange-strong: oklch(61.4% 0.1 37.4);
  --color-orange-subtle: oklch(95% 0.011 31.1);
  --color-blue-strong: oklch(64.7% 0.098 254.4);
  --color-blue-subtle: oklch(94.9% 0.013 251.6);
  --text-xs: 13px;
}

@layer base {
  #root {
    min-height: 100svh;
    height: 100%;
    display: flex;
    flex-direction: column;
    isolation: isolate;
  }
  body {
    color: var(--color-foreground);
    background: var(--color-background);
    font-family: var(--font-sans);
    min-height: 100svh;
    height: 100%;
  }
  body::selection {
    background-color: oklch(50.1% 0.008 174.1 / 20%);
  }
}
